<form action="#" class="justify-content-center login-form" method='post'>
    <div class="form-group">
        <label class="sr-only">{{ 'admin.login.form.login'|trans }}</label>
        {{ fields.login|raw }}
        {{ fields.is_remind|raw }}
    </div>
    <p>
        <button type="submit" class="btn btn-red fs18">{{ 'admin.login.form.remember'|trans }}</button>
    </p>
    <p class='mb0 text-center'><a href='#' class='underline color-white to-login-block'>{{ 'admin.login.form.back_to_login'|trans }}</a></p>
    <input type="hidden" name="{{ form_id }}" value="1">
</form>